<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434757779309-k81hjtad0n0u9nsliim8h650o4ak916q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434757779309-k81hjtad0n0u9nsliim8h650o4ak916q</string>
	<key>API_KEY</key>
	<string>AIzaSyB4QqCk-jDlajP04QMyLoYK_2L4nfWfDNg</string>
	<key>GCM_SENDER_ID</key>
	<string>434757779309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.salaveriatechnicalexam</string>
	<key>PROJECT_ID</key>
	<string>salaveriatechnicalexamfl-e4b29</string>
	<key>STORAGE_BUCKET</key>
	<string>salaveriatechnicalexamfl-e4b29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434757779309:ios:aaac96d20c8dc80b6d2464</string>
</dict>
</plist>